target/
*.log
fe/node_modules/
fe/build/

.env
.idea/
.vscode/
*.iml

.mvn/wrapper/apache-maven-*/
.mvn/wrapper/*.zip

### OS files
Thumbs.db
.DS_Store
backend.zip
fe.zip
*.zip
*.tar
*.tar.gz
*.tgz

### Test files
*.test.*
*.spec.*
__tests__/
__mocks__/
src/test/
**/src/test/
*Test.java
*Tests.java


*.zip
*.tar
